In [3]:
import pandas as pd

In [4]:
racers = pd.read_csv("drivers.csv")

In [5]:
racers

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44.0,HAM,Lewis,Hamilton,07/01/1985,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,NaN,HEI,Nick,Heidfeld,10/05/1977,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6.0,ROS,Nico,Rosberg,27/06/1985,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14.0,ALO,Fernando,Alonso,29/07/1981,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,NaN,KOV,Heikki,Kovalainen,19/10/1981,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
...,...,...,...,...,...,...,...,...,...
139,141,bailey,NaN,NaN,Julian,Bailey,09/10/1961,British,http://en.wikipedia.org/wiki/Julian_Bailey
140,142,chaves,NaN,NaN,Pedro,Chaves,27/02/1965,Portuguese,http://en.wikipedia.org/wiki/Pedro_Chaves
141,143,bartels,NaN,NaN,Michael,Bartels,08/03/1968,German,http://en.wikipedia.org/wiki/Michael_Bartels
142,144,hattori,NaN,NaN,Naoki,Hattori,13/06/1966,Japanese,http://en.wikipedia.org/wiki/Naoki_Hattori
143,145,nannini,NaN,NaN,Alessandro,Nannini,07/07/1959,Italian,http://en.wikipedia.org/wiki/Alessandro_Nannini

In [7]:
racers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   driverId     144 non-null    int64
 1   driverRef    144 non-null    object
 2   number       8 non-null      float64
 3   code         44 non-null     object
 4   forename     144 non-null    object
 5   surname      144 non-null    object
 6   dob          144 non-null    object
 7   nationality  144 non-null    object
 8   url          144 non-null    object
dtypes: float64(1), int64(1), object(7)
memory usage: 10.2+ KB

In [8]:
racers.describe()

         driverId     number
count  144.000000   8.000000
mean    73.298611  27.000000
std     41.993852  31.749016
min      1.000000   5.000000
25%     37.750000   6.750000
50%     73.500000  16.500000
75%    109.250000  27.500000
max    145.000000  99.000000

In [10]:
racers['number'] = racers['number'].astype(str)

In [11]:
racers

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44.0,HAM,Lewis,Hamilton,07/01/1985,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,nan,HEI,Nick,Heidfeld,10/05/1977,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6.0,ROS,Nico,Rosberg,27/06/1985,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14.0,ALO,Fernando,Alonso,29/07/1981,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,nan,KOV,Heikki,Kovalainen,19/10/1981,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
...,...,...,...,...,...,...,...,...,...
139,141,bailey,nan,NaN,Julian,Bailey,09/10/1961,British,http://en.wikipedia.org/wiki/Julian_Bailey
140,142,chaves,nan,NaN,Pedro,Chaves,27/02/1965,Portuguese,http://en.wikipedia.org/wiki/Pedro_Chaves
141,143,bartels,nan,NaN,Michael,Bartels,08/03/1968,German,http://en.wikipedia.org/wiki/Michael_Bartels
142,144,hattori,nan,NaN,Naoki,Hattori,13/06/1966,Japanese,http://en.wikipedia.org/wiki/Naoki_Hattori
143,145,nannini,nan,NaN,Alessandro,Nannini,07/07/1959,Italian,http://en.wikipedia.org/wiki/Alessandro_Nannini

In [16]:
racers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   driverId     144 non-null    int64
 1   driverRef    144 non-null    object
 2   number       144 non-null    object
 3   code         44 non-null     object
 4   forename     144 non-null    object
 5   surname      144 non-null    object
 6   dob          144 non-null    object
 7   nationality  144 non-null    object
 8   url          144 non-null    object
dtypes: int64(1), object(8)
memory usage: 10.2+ KB

In [17]:
nationality = racers.groupby(['nationality'])['driverRef'].count()

In [18]:
nationality

nationality
American       2
Argentine      3
Australian     2
Austrian       6
Belgian        4
Brazilian     16
British       15
Canadian       1
Colombian      1
Czech          1
Danish         2
Dutch          4
Finnish        5
French        15
German         9
Hungarian      1
Indian         1
Irish          1
Italian       29
Japanese      13
Malaysian      1
Monegasque     1
Polish         1
Portuguese     3
Spanish        3
Swedish        1
Swiss          3
Name: driverRef, dtype: int64